[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "3.1"
django-environ = "0.4"
django-allauth = "0.44"
django-crispy-forms = "*"

[requires]
python_version = "3.9"
